body {
    background-color: #DCF2F1;
}

p {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #ededed;
}

h1 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #ededed;
}

.navbar {
    background-color: #0F1035;
}