body {
    background-color: #FBFAFE;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color-burn;
    opacity: 1;
}

body background-image {
    opacity: 0;
}

p {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #ededed;
}

.sh {
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #ededed;
}

.navbar {
    background-color: #1b1450;
}